body {
  font-family: "M PLUS Rounded 1c";
  margin: 0px;
}

table {
  padding: 1em;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.table {
  margin-bottom: 0px;
}

tr {
  background-color: rgb(34, 34, 34);
}

td {
  font-size: 9pt;
  white-space: nowrap;
  padding: 0 !important;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

table tr td img {
  width: 50px;
  height: auto;
}

table tr td img.unselected {
  filter: opacity(0.5);
}
